<h1>Hi, <%= current_user.first_name%></h1>
<h2> You have <%= @orders.length %> passes</h2>

<% @orders.each do |order| %>
<ul>
  <li><%= order.category_name %></li>
  <li>  <%= humanized_money_with_symbol(order.amount) %></li>
  <li>  <%= order.number_of_visits %></li>
  <li> <%= order.gym_name %></li>
</ul>
    <% end %>


