
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>All of <%= @gyms.length %> available gyms</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Rating</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @gyms.each do |gym| %>
          <tr>
            <td><%= gym.name %></td>
            <td><%= gym.address %></td>
            <td><%= gym.rating %></td>
            <td><%= link_to 'Show', gym, class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>