<div class="gym-banner" style="background-image: url('<%= @gym.photo %>');">
  <div id="gym-banner-description">
    <h1> <%= @gym.name %></h1>
    <h2><%= @gym.address %></h2>
    <h3> <%= @gym.facilities %></h3>
  </div>
</div>

<div class="category-card-container">
<%= render 'shared/booking_category' %>
</div>
