<% if @gym.name == 'Lisboa Wellness Center' || @gym.name.length <= 20 %>
<div class="gym-banner-mobile-large">
  <div id="gym-banner-large">
    <h1> <%= @gym.name %></h1>
    <h2><%= @gym.address %></h2>
    <h3> <%= @gym.facilities %></h3>
  </div>
</div>
<% else %>
<div class="gym-banner-mobile">
  <div id="gym-banner-description-mobile">
    <h1> <%= @gym.name %></h1>
    <h2><%= @gym.address %></h2>
    <h3> <%= @gym.facilities %></h3>
  </div>
</div>
<% end %>

<%= render 'shared/booking_category' %>