<div class="container">
<h1 class="text-center" style="margin-top: 30px; font-weight: bold;">Review and Pay</h1>
  <div class="col-lg-offset-4 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="review-box" style="width: 1000px; height: 700px;">
        <div class="order-category-name">
         <% if @category.name != "Unlimited One Month Pass" %>
         <div id="order-category-name-short">
          <h3><%= @category.name %></h3>
        </div>
        <% else %>
        <div id="order-category-name-long">
          <h3><%= @category.name %></h3>
        </div>
        <% end %>
        <div id="order-category-validity">
          <% if @category.name != "Unlimited One Month Pass" %>
          <h3>The following pass would be valid for 30 days</h3>
          <% else %>
          <h3>The following pass would be valid for 60 days</h3>
          <% end %>
        </div>
        <div id="gym-name">
          <h2><%= @gym.name %></h2>
        </div>
        <div id="review-card-footer-line">
        </div>
        <div id="order-total">
          <h2>Total:</h2>
          <h3><%=humanized_money_with_symbol(@category.price) %></h3>
        </div>
        <div class="payment-button">
          <%= render 'shared/payment' %>      
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

